form.login {
    label {
        display: none;
    }

    .control-groups {
        display: inline-block;
    }

    .form-actions {
        display: inline-block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }
}