footer {
    display: none;
}

header {
    display: none;
}

#viewport {
    margin-top: 40px;
}

#viewport .commands {
    line-height: normal;
}

nav.control.main .brand {
    margin-left: 0;
}

aside .panel.user {
    padding: 20px;
}

aside .panel.user a {
    text-decoration: none;
}

aside .panel.user .name {
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-top: 15px;
    vertical-align: top;
}

aside .panel.user .avatar {
    display: inline-block;
    margin-right: 20px;
    background-color: #ff9900;
    height: 60px;
}

aside form.api.rest.project {
    display: none;
    padding: 20px;
    border-top: 3px solid #eee;
}

aside form.api.rest.project h1 {
    display: none;
}