@import url('menu-primary.css');
@import url('widget/council-search-form.css');

body {
    background-color: rgb(97%, 97%, 97%);
}

a {
    cursor: pointer;
}

header {
    z-index: 2;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    text-transform: uppercase;
    color: #ccc;
}

header .brand {
    display: inline-block;
}

header .user {
    display: inline-block;
    font-weight: 700;
    color: #000;
    margin-left: 10px;
}

header .user .avatar {
    margin-left: 10px;
}

header .user .name {
    text-transform: uppercase;
}

footer {
    -webkit-transition: all ease 1000ms;
    font-size: 12px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    color: #999;
}