menu.primary {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px 0 0 10px;
    height: 48px;
    background-color: inherit;
}

menu.primary > .dropdown {
    display: inline-block;
}

menu.primary a.base {
    -webkit-transition: all ease 250ms;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #999;
    padding: 2px 7px 5px 7px;
    border-radius: 2px;
    font-size: 24px;
}

menu.primary a.base > .glyph {
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
}

menu.primary .dropdown.open > a.base {
    background-color: #000;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

menu.primary .dropdown.open > .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    border: none;
    background-color: #000;
}

menu.primary .dropdown.open > .dropdown-menu a {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

menu.primary a.base:hover {
    color: #000;
}

menu.primary a.base.current {
    margin-top: -10px;
    padding-top: 12px;
    color: #000;
    border-radius: 0;
    border-right: 1px solid #ddd;
}

menu.primary a.base.search + form {
    display: none;
    margin: 0;
    vertical-align: top;
}

menu.primary a.base.search.activated {
    color: #215498;
}

menu.primary a.base.search.activated + form {
    display: inline-block;
}