/***** Bootstrap Overriding *****/

/***** Mocking *****/
article {
    margin-top: 40px;
}

.councils {
    padding: 20px;
}

.councils h2 {
    display: none;
}

.councils .list {
    margin: 0 -5px;
    list-style: none;
    overflow: hidden;
}

.councils .list:empty:before {
    font-family: "FoundationIconsGeneral";
    content: '`';
    color: #999;
    font-size: 24px;
    margin-right: 10px;
}

.councils .list:empty:after {
    content: attr(data-placeholder);
    color: #999;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
}

.councils .council {
    -webkit-transition: all ease 250ms 250ms;
    display: block;
    float: left;
    position: relative;
    width: 240px;
    height: 120px;
    margin: 5px;
    background-color: #fff;
    background-image: url('../image/status-indicator-green.png');
    background-position: right top;
    background-repeat: no-repeat;
}

.councils .council .name {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
}

.councils .council .rank {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 60%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    color: #ccc;
}

.councils .council.private {
    background-image: url('../image/status-indicator-orange.png');
}

.councils .council.omitted {
    overflow: hidden;
    width: 0;
    opacity: 0;
    margin-right: -10px;
    background-color: #000;
}

.councils .council:hover {
    box-shadow: #ddd 0 0 5px;
}