{% extends 'base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style/page/index.css"/>
{% endblock %}

{% block navigation %}
    <ul class="nav">
        <li><a class="form-trigger new"><i class="icon-plus"></i></a></li>
        <li><a class="form-trigger remove"><i class="icon-minus"></i></a></li>
    </ul>
    {{ super() }}
{% endblock %}

{% block body %}
    <section class="span12 dashboard">
        {% include 'widget/project/list.html' %}
    </section>

    {% include 'widget/project/save-form.html' %}

    <div id="underlayer"></div>
{% endblock %}
