@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url('_bootstrap.css');

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
    line-height: normal;
}

header {
}

header .brand {
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
}

a {
    cursor: pointer;
}

.visible.block {
    display: block !important;
}

.visible.inline {
    display: inline-block !important;
}

.hidden {
    display: none !important;
}