form.api.rest.project {
    @extend form.modal;

    input {
        width: 95%;
    }

    textarea {
        width: 95%;
        max-width: 95%;
        height: 60px;
        max-height: 60px;
    }

    &[method="put"] {
        h1 {
            background-color: #1693A5;
            color: #fff;
        }
    }
}