form.login {
}

form.login label {
    display: none;
}

form.login .control-groups {
    display: inline-block;
}

form.login .form-actions {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}