<article class="widget project list">
    <ul></ul>
    <script type="text/html" data-template="list-item">
        <li data-guid="">
            <a class="retrieve" data-href="/api/projects/{id}" href="">
                <span class="name"></span>
                <span class="description"></span>
            </a>
            <div class="commands">
                <a class="options"><i class="icon-th-large"></i></a>
                <a class="edit"><i class="icon-pencil"></i></a>
                <a class="delete"><i class="icon-remove"></i></a>
            </div>
        </li>
    </script>
</article>