<form class="form rest api project" action="/api/projects/" method="post" data-post-action="/api/projects/" data-put-action="/api/projects/{id}">
    <h1>Project</h1>
    <div class="control-group">
        <input type="text" name="name" placeholder="Project name" required="true"/>
    </div>
    <div class="control-group">
        <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="control-group">
        <label for="form_project_save_public">
            <input type="checkbox" name="public" value="1"/>
        </label>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn">Cancel</button>
    </div>
</form>