footer {
  display: none; }

header {
  display: none; }

#viewport {
  margin-top: 40px; }
  #viewport .commands {
    line-height: normal; }

nav.control.main .brand {
  margin-left: 0; }

aside .panel.user {
  padding: 20px; }
  aside .panel.user a {
    text-decoration: none; }
    aside .panel.user a .name {
      display: inline-block;
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 1px;
      padding-top: 15px;
      vertical-align: top; }
    aside .panel.user a .avatar {
      display: inline-block;
      margin-right: 20px;
      background-color: #ff9900;
      height: 60px; }

/***** Media Query *****/
@media (max-width: 979px) {
  #viewport {
    margin-top: 50px; }

  nav.control.main.navbar-fixed-top {
    position: fixed; } }
@media (max-width: 767px) {
  #viewport {
    margin-left: -20px;
    margin-right: -20px; }

  nav.control.main.navbar-fixed-top {
    margin: 0; } }
