<?xml version="1.0" encoding="utf-8"?>
<application>
    <include src="base.xml"/><!-- include from other configuration files -->
    <include src="graph.xml"/>
    <include src="security.xml"/>
    <server>
        <debug>true</debug>
        <port>8000</port>
    </server>
    <routes>
        <!-- VENDOR/BOOTSTRAP -->
        <!--<resource
            location="resources/vendor/foundation"
            pattern="/v/f/(.+)"
            cache="true"/>-->

        <resource
            location="/Users/jnopporn/tmp/Archive.zip"
            pattern="/t/a.zip"
            cache="true"/>

        <resource
            location="resources/vendor/requirejs/require.js"
            pattern="/v/r.js"
            cache="true"/>

        <resource
            location="resources/vendor/foundation-icon/foundation-icons-general"
            pattern="/v/fi/g/(.+)"
            cache="true"/>

        <resource
            location="resources/vendor/foundation-icon/foundation-icons-general-enclosed"
            pattern="/v/fi/ge/(.+)"
            cache="true"/>

        <resource
            location="resources/vendor/bootstrap"
            pattern="/v/b/(.+)"
            cache="true"/>

        <resource location="resources/vendor" pattern="/v/(.+)" cache="false"/>
        <resource location="resources/css" pattern="/css/(.+)" cache="false"/>
        <resource location="resources/scss/cc" pattern="/style/(.+)" cache="false"/>
        <resource location="resources/image" pattern="/image/(.+)" cache="false"/>
        <resource location="resources/js" pattern="/js/(.+)" cache="false"/>
    </routes>
    <service>service.xml</service>
</application>
