<form action="#council/query" method="post" data-target-container=".councils .list">
    <div class="input-append">
        <input name="query" size="16" type="text" placeholder="What's the name of the council?"/>
        <button class="btn btn-primary new" type="submit" title="Establish a new council" disabled="disabled"><i class="icon-plus icon-white"></i></button>
        <button class="btn search" type="submit" title="Filter" disabled="disabled"><i class="icon-search"></i></button>
    </div>
</form>